<br>
<div class="row m-b-18px">
    <div class="col-md-12">
        <!-- button to create new product -->
        <a (click)="createProduct()" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-plus'></span> Create Product
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-12">
        <!-- HTML table for our list of product records -->
        <table class='table table-hover table-responsive table-bordered'>

            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let kk of Repdata; let ind = index">
                <td>{{kk.id}}</td>
                <td>{{kk.first_name}}</td>
                <td>{{kk.last_name}}</td>
                <td><a (click)="edit(kk.id)" style="color:blueviolet">Edit</a></td>
                <td><a (click)="delete(kk.id)" style="color:blueviolet">Delete</a> </td>
            </tr>
        </table>
    </div>
</div>