<div class="row" style="padding:20px">
    <div class="col-md-12">
        <a routerLink="/create" class='btn btn-primary pull-right'>
            <span class='glyphicon glyphicon-plus'></span> Create Product
        </a>
    </div>
    <br><br><br>
    <div class="col-md-12">
        <!-- HTML table for our list of product records -->
        <table class='table table-hover table-responsive table-bordered'>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let kk of Repdata; let ind = index">
                <td>{{kk.id}}</td>
                <td>{{kk.first_name}}</td>
                <td>{{kk.last_name}}</td>
                <td><a routerLink="/edit/{{kk.id}}" style="color:blueviolet">Edit</a></td>
                <td><a (click)="delete(kk.id)" style="color:blueviolet">Delete</a> </td>
            </tr>
        </table>
    </div>
</div>